# DATAFILES

.DS_Store
*.csv
*.csv.gz
*.zip
*.pem
*.txt
*.xls
*.jpg
*.pkl
*.jpeg
*.json
*.h5
*.data
*.data.gz
*.gz
*.sav
*.zip
*.dot
*.icloud
*.xlsx
*.pyc
*.pyo
*.twbx
*.tar
*.log




# KEY FILES

Keys/*
SSL/*
.ipynb_checkpoints/*
airflow-webserver.pid
__pycache__/


# IGNORNED FOLDERS
logs/*
!logs/.gitkeep

# WHITELISTED FILES

!requirements.txt


# WHITELISTED FOLDERS
